.wrapper {

}
body {
  width: 100%;
}
/* The header and all the goodies that go with it */
.header {
  display: inline-block;
  width: 100%;
  background-color: #0093E9;
  background-image: linear-gradient(45deg, #02b3e4 0%, #7d97ad 100%);
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-logo {
  padding:2em;
  width: 20%;
  max-width: 100px;
  display: inline-block;
  align-content: center;
}

nav {
  padding-right: 20px;
  width: 74%;
  display:inline-block;
  float:right;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  display:inline-block;
  padding: 3em;
  float:right;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
}

.hamburger {
  vertical-align: top;
  display: inline-block;
  background-color: #ffffff;
  float: right;
  padding: 1em;
}

/* The content on the page starting above the fold */

.jumbotron {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-image: url("../img/mountains.jpg");
  background-size: cover;
  text-align: center;

}

h1 {
  text-align: center;
  padding: 1em;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 56px;
  display: inline-block;
  color: #02b3e4;
}

/* Below the fold */

.Quote {
  background-color: #02b3e4;
  width: 100%;
  text-align: center;
  height: 200px;
}

.WebPlace {
  display: inline-block;
  vertical-align: middle;
  padding-top: 45px;
  width:100%;
}

h2 {
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline-block;
  color: white;
  width: 100%;
  vertical-align: middle;
}

/* Flexbox Content */

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.project {
  display: inline-block;
  min-height: 400px;
  text-align: center;
  flex: auto;
  width:auto%;
}


.one {
  background-image: url("../img/pbmf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background-image: url("../img/hearthop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.three {
  background-image: url("../img/dougspong.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  padding: 1em;
  font-size:48px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-shadow: 2px, 2px, 2px;
}

p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}

/* Wrapping things up in the footer */

footer {
  display: inline-block;
  width: 100%;
  min-height: 100px;
  background-color: #7d97ad;
}

footer p {
  float: left;
  padding: 1em;
  color: white;
}
