html{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
}

/* The header and all the goodies that go with it */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #0093E9;
  background-image: linear-gradient(45deg, #02b3e4 0%, #7d97ad 100%);
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.header-logo {
  flex-direction: row;
  padding:2em;
  width: 20%;
  max-width: 100px;
  align-content: center;
}


nav {
  list-style: none;
   margin: 0;
   padding-right: 30px;
   display: flex;
   flex-flow: row;
   -webkit-flex-flow: row wrap;
  font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  nav { display: none;}
}


ul {
  list-style: none;
  line-height: 45px;
  height: auto;
}


nav a {
  text-decoration: none;
  padding: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
}


.hamburger {
  padding-right: 20px;
}


span {
  display: block;
  align-self: auto;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
}


@media screen and (min-width: 800px) {
  .hamburger { display: none;}
}

/* The content on the page starting above the fold */

.jumbotron {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../img/mountains.jpg);
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
}


h1 {
  text-align: center;
  padding: 1em;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 56px;
  color: #02b3e4;
}

/* Below the fold */

.quote {
  background-color: #02b3e4;
  width: 100%;
  text-align: center;
  height: 200px;
}


.webplace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 45px;
  width:100%;
}


h2 {
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  width: 100%;
  vertical-align: middle;
}

/* Flexbox Content */

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.project {
  display: inline-block;
  min-height: 400px;
  text-align: center;
  flex: auto;
  width:auto;
}


.one {
  background-image: url(../img/pbmf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.two {
  background-image: url(../img/hearthop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.three {
  background-image: url(../img/dougspong.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


h3 {
  padding: 1em;
  font-size:48px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}


p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}


/* Wrapping things up in the footer */
footer {
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: #7d97ad;
}


footer p {
  float: left;
  padding: 1em;
  color: white;
}
